@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
  body {
    background: url('../pacote-d013/imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    position:relative;
    height: 100vh;
}

#telefone {
    position: absolute;
    width: 311px;
    height: 627px;
    background-image: url('../pacote-d013/imagens/frame-iphone.png');
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 270px;
    height: 471px;
}
section#redes {
    text-align: right;
}
#redes img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px black;
    box-sizing: border-box;
    
}
#redes img:hover {
   border: 3px solid rgb(255, 255, 255);
   transform: translate(-3px, -3px);
   transition: transform .5s, border .2s;
}