@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
html, body {
    width: 100vh;
    height: 100vh;
    background-color: black;
}
main {
    position:relative;
    width: 100vh;
    height: 100vh;
    background-color: chartreuse;
}
#telefone {
    position: absolute;
    width: 311px;
    height: 630px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../pacote-d013/imagens/frame-iphone.png');
}