@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body {
    background: url('../pacote-d013/imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    position:relative;
    width: 100vh;
    height: 100vh;
}
#telefone {
    position: absolute;
    width: 311px;
    height: 627px;
    background-image: url('../pacote-d013/imagens/frame-iphone.png');
    background-size: cover;
    top: 50%;
    left: ;
}