@charset "UTF-8";

  * {
            margin: 0;
            padding: 0;
        }
        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        img {
            width: 100vw;
        }
        a {
            display: block;
            background-color: rgb(33, 111, 131);
            color: white;
            padding: 10px;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
            font-size: 30px;
        }
